

body{
  background-color: #000;
 display: flex;
 align-items:center;
 justify-content: center;
}

#test{
  position: fixed;
  top: 0;
  left: 0;
  height:800px;
  background-color: white;
  z-index:1001;
  width:200px;
}


#startContainer{
  min-height: 200px;
  background-color: #333;
  border-radius:20px;
  padding :3em;
  margin-top:3rem;
}
#startImage{
  width:20%;
}
h1{
  color:#fff;
}
#startButton{
  margin-top: 20px;
  background:#f2db0c;
  border-radius: 20px;
  height:90px;
  font-size:30px;
  
  
 
}

#startButton:focus {
  outline: none;
  box-shadow: none;
}
  
#startButton:hover{
  -webkit-box-shadow:inset 0px 0px 0px 5px #fff;
    -moz-box-shadow:inset 0px 0px 0px 5px #fff;
    box-shadow:inset 0px 0px 0px 5px #fff;
  color: #000;
  font-size: 40px;
}



canvas{
  position: absolute;
  border-radius: 9px;
}

#scene{
  margin-top:50px;
  width: 542px;
  height: 680px;
  position: relative;
  display:flex;
  transform: perspective(50cm) rotateX(50deg) rotateY(-1deg) rotateZ(1deg);

}
@media (pointer:none), (pointer:coarse) {
  #scene{
    transform: none;
    max-width:90%;
  }
}
scene{
  width: 404px;

}
